<section class="int-hero">
		<div class="inner">
			<div class="hero-image blog-hero">
				<h1>Blog</h1>
			</div>
		</div>
	</section>
	<div class="inner-bottom-divider clearfix">
		<div class="int-side-nav column int-blog-side">
			{% for link in linklists.blog-menu.links %}
				{% assign current_category = link.title | handleize %}
				<h1><a href="/blogs/latest/tagged/{{ current_category }}">{{ link.title }}</a></h1>
				{% for article in blogs.latest.articles %}
					{% for tag in article.tags %}
						{% assign current_tag = tag | handleize %}
						{% if current_tag == current_category %}
							<a href="{{ article.url }}">{{ article.title }}</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>
		<section class="blog-main column int-blog-main">
			{% for article in blog.articles %}
				<article class="blog-entry">
					<header>
						<h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
						<p><time pubdate="{{ article.created_at | date: "%Y-%m-%d" }}">{{ article.created_at | date: "<span>%Y /</span> %B %d"}}</time></p>
					</header>
					{{ article.excerpt_or_content }}
				</article>
			{% endfor %}
		</section>
	</div>