{% paginate collection.products by 50 %}
<div class="inner shop-intro">
	<h1>Shop</h1>
</div>
<div class="inner">
	<nav class="shop-subnav column">
		<h1>Artist</h1>
		<div class="subnav-children">
			{% for link in linklists.artists-menu.links %}
				<a href="{{ link.url }}">{{ link.title }}</a>
			{% endfor %}
		</div>
		<h1>Type of Art</h1>
		<div class="subnav-children current">
			{% for link in linklists.type-of-art-menu.links %}
				<a href="{{ link.url }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
			{% endfor %}
		</div>
		{% if linklists.collections-menu.links.size > 0 %}
			<h1>Collections</h1>
			<div class="subnav-children">
				{% for link in linklists.collections-menu.links %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</nav>
	<section class="shop-art-type shop-main-content column">
		<article class="shop-type-listing">
			<h1>{{ collection.title }}</h1>
			{% for product in collection.products %}
				<a href="/collections/{{ product.vendor || handleize }}/products/{{ product.handle }}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
			{% endfor %}
		</article>
	</section>
	<div class="pagi">
		{{ paginate | default_pagination }}
	</div>
</div>
{% endpaginate %}